.navBar a.navbar-brand {
  color: white;
  font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-right: 20px !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  padding-right: 20px;
  color: var(--SkyBlue);
  transform: scale(1.2);
  /* padding-left: 20px;
  padding-right: 20px; */
  transition: 0.6s;
}

.navBar.active {
  transition: 0.5s smooth;
  background-color: var(--Blue);
}

.nav-img {
  height: 70px;
  width: 70px;
  padding-right: 5px;
}

@media screen and (max-width: 991px) {
  .navbar {
    background-color: var(--Blue);
  }
  .ml-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navbar-dark .navbar-nav .nav-link {
    margin-left: 20px;
  }

  .borderbottom {
    height: 2px;
    background-color: white;
    width: 50%;
    margin-top: 1px;
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
  }
}
