.navBar a.navbar-brand {
    color: white;
    font-size: 25px;
}

a.nav-link
{
    color:white;
    padding-right: 20px !important;
}

a.nav-link:hover {
    padding-right: 20px;
    color: var(--SkyBlue);
}

.navBar.active{
    transition: 0.5s smooth;
    background-color:var(--Blue);
}

.nav-img {
    height: 70px;
    width: 70px;
    padding-right: 5px;
}
/* 

.navbutton{
    margin-bottom: 3px;
     margin-right: 100px;
 }

.navbutton a
{
    padding: 10px;
    color:var(--Cream);
    font-size: 20px;
}

.navbutton a:hover{
    text-decoration: none;
    color: var(--SkyBlue);
   } */

/* .brandName {
    display: flex;
    margin-top: 3px;
    margin-left: 100px;
}

.navbar {
    height: 7vh;
    width: 100%;
    background-color: var(--Green);
    color: var(--cream);
}

.brandName img {
    height: 30px;
    width: 30px;
}

.brandName h1 {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    cursor: pointer;
    color: var(--Cream);
}

.navbutton {
    margin-right: 100px;
    margin-bottom: 3px;
}

.navbutton a {
    padding: 10px;
    line-height: 2px;
    color: var(--Cream);
    font-size: 20px;
}

.navbutton a:hover {
    color: var(--Orange);
    text-decoration: none;
    padding: 5px;
}

.navbutton img {
    background-color: var(--Cream);
} */

