:root {
    --Green: #16697a;
    --Cream: #ede7e3;
    --Orange: #ffa62b;
}

.brandName {
    display: flex;
    margin-top: 3px;
    margin-left: 100px;
}

.navbar {
    height: 7vh;
    width: 100%;
    background-color: var(--Green);
    color: var(--cream);
}

.brandName img {
    height: 30px;
    width: 30px;
}

.brandName h1 {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    cursor: pointer;
    color: var(--Cream);
}

.navbutton {
    margin-right: 100px;
    margin-bottom: 3px;
}

.navbutton a {
    padding: 10px;
    line-height: 2px;
    color: var(--Cream);
    font-size: 20px;
}

.navbutton a:hover {
    color: var(--Orange);
    text-decoration: none;
    padding: 5px;
}

.navbutton img {
    background-color: var(--Cream);
}

