/* .neww {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.new {
  margin-top: -100px;
}

.box {
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  margin: 0 auto;
  z-index: 0;
  height: 100%;
}
.card {
  position: relative;
  width: 250px;
  height: 300px;
  background: #fff;
  margin: 0 30px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-bottom: 40px;
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  color: var(--Blue);
  text-transform: uppercase;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

.card {
  top: 300px;
  padding: 30px !important;
}

.harry {
  color: black;
  font-weight: 400;
  font-size: 15px;
}
.harry:hover {
  color: var(--Green);
  font-weight: 400;
  text-decoration: none;
}

.headings {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  color: white !important;
  font-size: 40px;
  top: 100px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  transition: 0.6s;
}



@media screen and (max-width: 1100px) {
  .box {
    margin-left: 80px !important;
    width: 950px;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    margin: 0px;
    padding: 0px;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 846px) {
  .box {
    margin-left: 80px !important;
    width: 560px;
    display: grid;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 680px) {
  .box {
    margin-left: 180px !important;
    width: 560px;
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 210px) {
  .box {
    margin-left: 200px !important;
    width: 160px;
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    margin-bottom: 40px;
  }
} */
.learn .headings:hover {
  text-shadow: 2px 3px 10px var(--SkyBlue);
  transform: scale(1.5);
  transition: 0.6s;
}

.learn .headings {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  color: white !important;
  font-size: 40px;
  top: 100px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  transition: 0.6s;
}

.learn .container {
  position: absolute;
  height: 300px;
  width: 80vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 30vh;
  display: flex;
  z-index: -1;
}

.learn .card {
  display: flex;
  height: 60vh;
  width: 80vw;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.learn .card:not(:first-child) {
  margin-left: -50px;
}

.learn .card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.learn .card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.learn .title {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 15px;
}

.learn .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.learn .emptybar {
  background-color: #2e3033;
  width: 14vw;
  height: 100%;
}

.learn .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.learn .card:hover .filledbar {
  width: 10vw;
  transition: 0.4s ease-out;
}

.learn .circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.learn .stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.learn svg {
  fill: #17141d;
  stroke-width: 2px;
}

.learn .card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
