.learn .headings:hover {
  text-shadow: 2px 3px 10px var(--SkyBlue);
  transform: scale(1.5);
  transition: 0.6s;
}

.learn .headings {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  color: white !important;
  font-size: 40px;
  top: 100px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  transition: 0.6s;
}

.learn .container {
  position: absolute;
  height: 300px;
  width: 80vw;
  margin: auto;
  left: 0;
  right: 0;
  top: 30vh;
  display: flex;
  z-index: -1;
  padding-top: 10vh;
}

.learn .card {
  display: flex;
  height: 60vh;
  width: 80vw;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.learn .card:not(:first-child) {
  margin-left: -50px;
}

.learn .card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.learn .card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.learn .title {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 15px;
}

.learn .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.learn svg {
  fill: white;
}

.learn .emptybar {
  background-color: #2e3033;
  width: 14vw;
  height: 100%;
}

.learn .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.learn .card:hover .filledbar {
  width: 10vw;
  transition: 0.4s ease-out;
}

.learn .circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.learn .stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.learn svg {
  fill: #17141d;
  stroke-width: 2px;
}

.learn .card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
