@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
.divider {
  display: flex;
  color: white;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, var(--Black), var(--Cream)) fixed;
}

.resources {
  height: 50vh;
  margin-left: 100px;
  width: 30%;
  margin-top: 10vh;
  text-align: center;
  border-radius: 60px;
  box-shadow: 2px 2px 30px #000;
  transition: all 0.6s;
}
.projects {
  height: 50vh;
  margin-top: 10vh;
  margin-left: 100px;
  text-align: center;
  margin-right: 120px;
  box-shadow: 2px 2px 30px #000;
  border-radius: 60px;
  transition: all 0.6s;
}

.rheading {
  padding: 30px;
  background-color: #45a29e;
  font-size: 70px;
  width: 700px;

  font-family: "Permanent Marker", cursive;
  cursor: pointer;
}

.pheading {
  padding: 30px;
  background-color: #45a29e;
  font-size: 70px;
  width: 700px;
  font-family: "Permanent Marker", cursive;
  cursor: pointer;
}

.rheading:hover {
  color: white !important;
  transform: scale(1.2);
  transition: all 1s;
  text-shadow: 2px 2px 8px #000;
}

.pheading:hover {
  color: white !important;
  transition: 0.4s smooth;
  transform: scale(1.2);
  transition: all 1s;
  text-shadow: 2px 2px 8px #000;
}

.para {
  font-size: 20px;
  text-align: center;
}

.ques {
  font-size: 30px;
  max-width: 600px;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 15vh;
  text-align: center;
  font-family: "New Tegomin", serif;
}

@media screen and (max-width: 1009px) {
  .divider {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }

  .resources {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
